$start-color: #1d1d1d;
$base-color: #3f9eeb;
$inactive-color: #a9a9a9;
$blended-color: #58729c;
$darker-base-color: #0964b0;
$shade-darker-white: #eceef0;

#html {
    @extend %site-font;
}

%site-font {
    font-family: "Avenir Next", sans-serif;
}

%box-shadow {
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 1rem 3rem rgba(0,0,0,0.175) !important;
}

%project-statistics__block {
    width: 15px;
    height: 15px;
}

.full-size {
    min-height: 100vh;
    min-width: 100vw;
}

.full-width {
    min-width: 100vw;
}

.darker-base-background {
    background-color: $darker-base-color;
}

.base-background {
    background-color: $base-color;
}

.blended-background {
    background-color: $blended-color;
}

.gradient {
    background-image: linear-gradient($start-color, $base-color);
}

.white-background {
    background-color: white;
}

.shade-darker-white-background {
    background-color: $shade-darker-white;
}

.left-align-text {
    text-align: left;
}

@media only screen and (max-width: 768px) {
    .profile-image {
        border-radius: 5px;
        width: 100%;
        max-height: 125px;
        max-width: 125px;
        margin-top: 1rem;
    }
}

.profile-image {
    display: block;
    width: 100%;
}

.welcome-profile-image {
    border-radius: 5px;
}

.word-wrap {
    word-wrap: break-word;
}

.row-no-wrap {
    display: inline-block;
    white-space: nowrap;
}

.default-text {
    @extend %site-font;
    text-decoration: none;
    text-rendering: optimizeLegibility;
}

.white-text {
    color: #ffffff;
}

.black-text {
    color: #000000;
}

.mouse-pointer {
    cursor: pointer;
}

.sub-text {
    font-size: 0.9rem;
}
.double-sub-text {
    font-size: 0.6rem;
}

.resume__line::before {
    content: "";
    display: inline-block;
    width: 3px;
    height: 100%;
    background-color: #c8cfd8;
    margin-left: 16px;
    top: 4px;
}

.circle:before {
    content: ' \25CF';
    font-size: 15px;
}

.large-header {
    @extend %site-font;
    font-size: 3rem
}

.header {
    @extend %site-font;
    font-size: 1.5rem
}

.header-two {
    @extend %site-font;
    font-size: 1.2rem;
}

.header-three {
    @extend %site-font;
    font-size: 1.1rem;
}

.bold-text {
    font-weight: bold
}

.rounded-corners {
    border-radius: 25px;
}

.light-rounded-corners {
    border-radius: 5px;
}

.footer {
    display: flex;
    min-height: 320px;
}
.footer-text {
    max-width: 50%;
}

.middle {
    display: flex;
    width: 100%;
}

.navbar {
    display: flex;
    min-height: 70px;
}
.navbar__items {
    display: flex;
    list-style-type: none;
}

.navbar__link-toggle {
    display: none;
}

.active {
    border-bottom: 2px solid white;
    box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
    .navbar__items,
    .navbar {
        flex-direction: column;
        justify-content: center;
    }
    .navbar__items {
        align-items: start;
        display: none;
    }
    .navbar__link {
        padding-left: 0;
        padding-bottom: 0;
        padding-top: 0.5rem;
    }
    .navbar__right_side {
        margin-left: 0;
    }
    .navbar__toggleShow {
        display: flex;
    }
    .navbar__link-toggle {
        align-self: flex-end;
        display: initial;
        position: absolute;
        cursor: pointer;
    }
}


.projects-information-header {
    background-color: #2f3644
}

.inner-content-wrapper {
    max-width: 1080px;
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .secondary-inner-wrapper {
        max-width: 70%;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }


.project-category-button-wrapper {
    @extend %box-shadow;
    background-color: white;
    cursor: pointer;
    transition-property: opacity;
    transition-duration: 2s;
}
.project-category-button {
    color: black;
    word-wrap: normal;
    text-align: center;
}

.content-card {
    @extend %box-shadow;
    background-color: white;
}

.project-statistics__my_contribution_block {
    @extend %project-statistics__block;
    background-color: $base-color;
}

.project-statistics__team_contribution_block {
    @extend %project-statistics__block;
    background-color: $inactive-color;
}

.statistics__team-text {
    flex-wrap: nowrap;
}

.hyperlink {
    color: white;
}

.hyperlink:hover {
    cursor: pointer;
    color: $base-color;
    text-decoration: none;
}

.alt-hyperlink {
    color: white;
}


.alt-hyperlink:hover {
    cursor: pointer;
    color: $darker-base-color;
    text-decoration: none;
}

.white-background-hyperlink {
    color: $base-color;
}

.white-background-hyperlink:hover {
    cursor: pointer;
    color: $darker-base-color;
    text-decoration: none;
}

.center-unordered-list {
    display: table;
    margin: 0 auto;
}

.no-bullets {
    list-style-type: none;
}

.hide-overflow {
    overflow: hidden;
}
