$start-color: #1d1d1d;
$base-color: #85b4ff;
$inactive-color: #a9a9a9;
$blended-color: #58729c;

%site-font {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

%box-shadow {
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px 1px #e6e6e6, 1px 1px 1px 1px $inactive-color;
}

%project-statistics__block {
    width: 15px;
    height: 15px;
}

.container {
    min-height: 100vh;
    min-width: 100vw;
}

.gradient {
    background-image: linear-gradient($start-color, $base-color);
}

.white-background {
    background-color: white;
}

.profile-image {
    display: block;
    border-radius: 5px;
    width: 100%;
    max-height: 300px;
    max-width: 300px;
}


.default-text {
    @extend %site-font;
    text-decoration: none;
    text-rendering: optimizeLegibility;
}

.white-text {
    color: #ffffff;
}

.black-text {
    color: #000000;
}

.mouse-pointer {
    cursor: pointer;
}

.sub-text {
    font-size: 0.9rem;
}
.double-sub-text {
    font-size: 0.6rem;
}

.resume__line::before {
    content: "";
    display: inline-block;
    width: 3px;
    height: 100%;
    background-color: #c8cfd8;
    margin-left: 16px;
    top: 4px;
}

.header {
    @extend %site-font;
    font-size: 1.5rem
}

.header-two {
    @extend %site-font;
    font-size: 1.2rem;
}

.header-three {
    @extend %site-font;
    font-size: 1.1rem;
}

.bold-text {
    font-weight: bold
}

.rounded-corners {
    border-radius: 25px;
}

.navbar {
    display: flex;
    min-height: 70px;
}
.navbar__link {
    padding-right: 8px;
}
.navbar__items {
    display: flex;
    list-style-type: none;
}
.navbar__right_side {
    margin-left: auto;
}
.navbar__link-toggle {
    display: none;
}

@media only screen and (max-width: 768px) {
    .navbar__items,
    .navbar {
        flex-direction: column;
    }
    .navbar__items {
        align-items: center;
        display: none;
    }
    .navbar__right_side {
        margin-left: 0;
    }
    .navbar__toggleShow {
        display: flex;
    }
    .navbar__link-toggle {
        align-self: flex-end;
        display: initial;
        position: absolute;
        cursor: pointer;
    }
}

.base-background {
    background-color: $blended-color;
}

.projects-information-header {
    background-color: #2f3644
}

.content-wrapper {
    max-width: 1080px;
}

.project-category-button-wrapper {
    @extend %box-shadow;
    background-color: white;
    cursor: pointer;
    transition-property: opacity;
    transition-duration: 2s;
}
.project-category-button {
    color: black;
    word-wrap: normal;
    text-align: center;
}

.content-card {
    @extend %box-shadow;
    background-color: white;
}

.project-statistics__my_contribution_block {
    @extend %project-statistics__block;
    background-color: $base-color;
}

.project-statistics__team_contribution_block {
    @extend %project-statistics__block;
    background-color: $inactive-color;
}

.statistics__team-text {
    flex-wrap: nowrap;
}
