$start-color: #1d1d1d;
$base-color: #85b4ff;
$inactive-color: #a9a9a9;
$blended-color: #58729c;

.container {
    min-height: 100vh;
    min-width: 100vw;
}

.gradient {
    background-image: linear-gradient($start-color, $base-color);
}

.profile-image {
    display: block;
    border-radius: 5px;
    width: 100%;
    max-height: 300px;
    max-width: 300px;
}


.default-text {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    text-decoration: none;
    text-rendering: optimizeLegibility;
}

.white-text {
    color: #ffffff;
}

.black-text {
    color: #000000;
}

.mouse-pointer {
    cursor: pointer;
}

.header {
    font-size: 1.5rem
}

.header-two {
    font-size: 2.25rem;
}

.bold-text {
    font-weight: bold
}

.projects-container {
    background-color: $blended-color;
}

.projects-information-header {
    background-color: #2f3644
}

.project-category-selector-wrapper {
    max-width: 1080px;
}

.project-category-button-wrapper {
    background-color: white;
    border-radius: 3px;
    cursor: pointer;
    transition-property: opacity;
    transition-duration: 2s;
}
.project-category-button {
    color: black;
    word-wrap: normal;
    text-align: center;
}

%project-statistics__block {
    width: 15px;
    height: 15px;
}

.project-statistics__my_contribution_block {
    @extend %project-statistics__block;
    background-color: $base-color;
}

.project-statistics__team_contribution_block {
    @extend %project-statistics__block;
    background-color: $inactive-color;
}

.statistics__team-text {
    flex-wrap: nowrap;
}
