$start-color: #1d1d1d;
$base-color: #85b4ff;
$inactive-color: #a9a9a9;

.container {
    min-height: 100vh;
    min-width: 100vw;
}

.gradient {
    background-image: linear-gradient($start-color, $base-color);
}

.profile-image {
    display: block;
    border-radius: 5px;
    width: 100%;
    max-height: 300px;
    max-width: 300px;
}
