// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

$page-background-color: #fffeee;
$button-color: #006ff0;

%center-text {
    text-align: center;
}

%auto-margin {
    margin: auto;
}

%auto-padding {
    padding: auto;
}

%full-height {
    height: 100%;
}

%full-width {
    width: 100%;
}

.card-text {
    margin: 15px;
}

.card-button {
    background-color: $button-color;
}

.card-row {
    margin: auto;
}

.left-align-text {
    text-align: left;
}

.maximize-window {
    @extend %full-height;
    @extend %full-height;
}

.center-alignment {
    @extend %center-text;
}

.project-menu {
    margin: 1em;
    @extend %auto-padding;
    display: inline-block;
}

.maximize-window-minus-sidebar {
    height: 100vh;
    width: calc(100vw - 240px);
}

.body-wrapper {
    height: 100vh;
    width: 100vw;
}
