// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

$header-background-color: #4c8ef0;
$page-background-color: #fffeee;

.project-menu-container {
    text-align: center
}

.project-menu {
    margin: 1em;
    padding: auto;
    display: inline-block;
}
